<div class="repeat-title"></div>
<div class="hospitals-list clearfix" style="padding: 32px">
    <h1 class="blue bold">Update article</h1>
    <br/>

    <form
            role="form"
            class="one-block"
            name="updateArticleForm"
            ng-submit="updateArticleCtrl.updateArticle()"
            novalidate>

        <div class="form-group">

            <label for="subject" class="side-label-holder dynamic-font-md">Title:</label>

            <input
                    type="text"
                    name="subject"
                    placeholder="Subject"
                    id="subject"
                    class="form-control side-input dynamic-font-md"
                    required
                    ng-model="updateArticleCtrl.article.subject"/>
            <div style="color:red" ng-show="updateArticleForm.$submitted && updateArticleForm.subject.$invalid">
                <p ng-show="updateArticleForm.subject.$error.required">Feltet skal utfylles</p>
            </div>
        </div>

        <div class="form-group">

            <label for="source" class="side-label-holder dynamic-font-md">Source:</label>

            <input
                    type="text"
                    name="source"
                    placeholder="Source"
                    id="source"
                    class="form-control side-input dynamic-font-md"
                    required
                    ng-model="updateArticleCtrl.article.source"/>
            <div style="color:red" ng-show="updateArticleForm.$submitted && updateArticleForm.source.$invalid">
                <p ng-show="updateArticleForm.source.$error.required">Feltet skal utfylles</p>
            </div>
        </div>

        <div class="image-container" ng-class="{'slim': !updateArticleCtrl.image}">
            <div class="clients-photo" >
                <div ng-show='updateArticleCtrl.image' style="z-index: 2; position: relative; left: 0; top: 0">
                    <a ng-click="updateArticleCtrl.removeImage('image')"  class="remove-image">X</a>
                    <img ng-src="{{updateArticleCtrl.image}}">
                </div>
                <input
                        id="image"
                        type="file"
                        name="image"
                        ng-model="updateArticleCtrl.image"
                        accept="image/jpeg,image/png,image/gif"
                        fileread
                        crop-result="updateArticleCtrl.cropResult"
                        ng-change="updateArticleCtrl.checkImageType('image')"
                        >
            </div>
            <div class="slider-block">
                <div id="image-slider"></div>
            </div>
        </div>

        <div ng-show='!updateArticleCtrl.image && updateArticleCtrl.oldImage && updateArticleCtrl.oldImage.image_url'>
            <img style="max-height: 445px" ng-src="{{updateArticleCtrl.oldImage.image_url}}">
        </div>

        <br/>

        <div class="form-group clearfix">

        <div
                text-angular
                required
                ng-model="updateArticleCtrl.article.content">

        </div>
        <div style="color:red" ng-show="updateArticleForm.$submitted && updateArticleForm.content.$invalid">
            <p ng-show="updateArticleForm.content.$error.required">Feltet skal utfylles</p>
        </div>
</div>

        <div class="form-group">
            <button class="pull-right btn btn-default btn-lg dynamic-font-md">Update</button>
        </div>
    </form>
    <br/>
</div>