<div class="side-container">

    <div class="row">

        <!-- Filter -->
        <div class="col-md-3">
            <div class="side-container">
                <div class="form-group clearfix">

                    <label for="fylke" class="pull-left side-label-holder dynamic-font-md">Fylke:</label>

                    <select id="fylke"
                            class="pull-right form-control side-input dynamic-font-md"
                            ng-model="listHospitalCtrl.chosenFylke"
                            ng-change="listHospitalCtrl.search()"
                            ng-options="fylke.fylke as fylke.fylke for fylke in listHospitalCtrl.fylkes">
                        <option value="" selected>Alle</option>
                    </select>
                </div>
            </div>

            <br/>

            <div class="side-container">

                <div class="form-group clearfix">

                    <label for="category"
                           class="pull-left side-label-holder dynamic-font-md">Kategori:</label>

                    <select id="category"
                            class="pull-right form-control side-input dynamic-font-md"
                            ng-model="listHospitalCtrl.chosenCategory"
                            ng-change="listHospitalCtrl.search()"
                            ng-options="category.id as category.name for category in listHospitalCtrl.categories">
                        <option value="" selected>Alle</option>
                    </select>
                </div>

                <div class="form-group clearfix margin-top">

                    <label for="searchText"
                           class="pull-left side-label-holder dynamic-font-md">Tekstsøk:</label>

                    <input id="searchText"
                           class="pull-right form-control side-input dynamic-font-md"
                           ng-model="listHospitalCtrl.searchText"

                            />
                </div>

                <div class="form-group clearfix  margin-top">

                    <label for="resultCount" class="pull-left side-label-holder dynamic-font-md">Resultater:</label>
                    <select id="resultCount"
                            ng-model="listHospitalCtrl.resultCount"
                            class="pull-right form-control side-input dynamic-font-md"
                            ng-change="listHospitalCtrl.search()"
                            ng-options="item for item in listHospitalCtrl.resultCountVariants">
                    </select>

                </div>

                <div class="form-group clearfix margin-top">
                    <a class="btn btn-default btn-block dynamic-font-md" ng-click="listHospitalCtrl.search()">Søk</a>
                </div>
            </div>
        </div>


        <!-- List -->
        <div class="col-md-9">
            <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    on-page-change="listHospitalCtrl.pageChanged(newPageNumber)"
                    >
            </dir-pagination-controls>
            <div class="row"
                 dir-paginate="hospital in listHospitalCtrl.hospitals | itemsPerPage:listHospitalCtrl.resultCount"
                 total-items="listHospitalCtrl.resultTotal" current-page="listHospitalCtrl.currentPage"
                 ng-class="{'grey': $even}">
                <div class="col-md-12">
                    <h4 class="blue"><a href="admin#/hospital/{{hospital.id}}">{{hospital.name}}</a></h4>
                </div>
                <div class="row" style="height: 150px;">
                    <div class="col-md-3">pic</div>
                    <div class="col-md-6">{{hospital.description}}</div>
                    <div class="col-md-3">{{hospital.postcode}} {{hospital.city}} {{hospital.address}}</div>
                </div>
                <div class="row" style="height: 30px;">
                    <div class="col-md-6 form-inline">
                        <a>Nettside</a>
                        <a href="admin#/hospital/{{hospital.id}}">Rediger</a>
                        <a href="javascript:;" ng-click="listHospitalCtrl.deleteHospital(hospital)">Slett</a>
                    </div>
                    <div class="col-md-6">
                        <span class="pull-right">Slat oppdatert: {{ hospital.created_at | date:"dd.MM.yyyy" }}</span>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>


<br/>
</div>