<div class="repeat-title"></div>
<div class="hospitals-list clearfix" style="padding: 32px">
    <h1 class="blue bold">Update recommendation</h1>
    <br/>
    <form
            role="form"
            class="one-block"
            name="updateWebRecommendationForm"
            ng-submit="updateWebRecommendationCtrl.updateWebRecommendation()"
            novalidate>

        <div class="form-group">

            <label for="name" class="side-label-holder dynamic-font-md">Name:</label>

            <input
                    type="text"
                    name="name"
                    placeholder="Name"
                    id="name"
                    class="form-control side-input dynamic-font-md"
                    required
                    ng-model="updateWebRecommendationCtrl.webRecommendation.name"/>
            <div style="color:red" ng-show="updateWebRecommendationForm.$submitted && updateWebRecommendationForm.name.$invalid">
                <p ng-show="updateWebRecommendationForm.name.$error.required">Feltet skal utfylles</p>
            </div>
        </div>

        <div class="form-group">

            <label for="link" class="side-label-holder dynamic-font-md">Link:</label>

            <input
                    type="url"
                    name="link"
                    placeholder="Link"
                    id="link"
                    class="form-control side-input dynamic-font-md"
                    required
                    ng-model="updateWebRecommendationCtrl.webRecommendation.link"/>
            <div style="color:red" ng-show="updateWebRecommendationForm.$submitted && updateWebRecommendationForm.name.$invalid">
                <p ng-show="updateWebRecommendationForm.name.$error.required">Feltet skal utfylles</p>
            </div>
        </div>

        <div class="form-group">

            <label for="private" class="side-label-holder dynamic-font-md">Private:</label>

            <input
                    type="checkbox"
                    name="private"
                    id="private"
                    ng-model="updateWebRecommendationCtrl.webRecommendation.private"/>
        </div>

        <div class="form-group">
            <button class="pull-right btn btn-default btn-lg dynamic-font-md">Update</button>
        </div>
    </form>

    <br/>
</div>