<div class="repeat-title"></div>
<div class="hospitals-list clearfix">

    <h6 class="col-md-12 bold blue">VELCOMMEN</h6>

    <div style="margin-top: 25px; padding: 15px 15px 0; border: 2px solid #f0f0f0; border-radius: 5px">

        <div style="padding: 0 15px; border: 1px solid #cdcdcd">

            <h5 style="margin-top: 0;" class="dynamic-font-md" ng-bind-html="startSideCtrl.startSide.text | limitTo: 800">
                <span ng-show="startSideCtrl.startSide.text.length > 800">...</span></h5>

            <div class="clearfix">
                <a class="col-md-2 pull-left" href="#/startside">Les mer...</a>
                <a class="pull-left" href="#/startside/edit">Rediger</a>
                <a class="pull-right" href="#">Slett</a>
            </div>
        </div>
        <div class="clearfix">
            <a class="pull-left" href="#">Legg til ny</a>
            <a class="pull-right" href="#">Tidligere nyheter</a>
        </div>
    </div>

    <div ng-repeat="news in startSideCtrl.saticNews" style="display: inline-block">

            <h6 ng-if="news.id === startSideCtrl.saticNews[0].id" class="col-md-12 bold blue">NYHET VENSTRE</h6>
            <h6 ng-if="news.id === startSideCtrl.saticNews[1].id" class="col-md-12 bold blue">NYHET MYDTEN</h6>
            <h6 ng-if="news.id === startSideCtrl.saticNews[2].id" class="col-md-12 bold blue">NYHET H?YRE</h6>

        <div style="margin-top: 25px; padding: 15px 15px 0; border: 2px solid #f0f0f0; border-radius: 5px">


            <div style="padding: 0 15px; border: 1px solid #cdcdcd">

                <h4 class="col-md-12 dynamic-font-lg">{{news.subject}}</h4>

                <div class="clearfix">
                    <h5 style="margin-top: 0;" class="dynamic-font-md" ng-bind-html="news.content | limitTo: 800 "></h5>
                </div>

                <div class="clearfix">
                    <a class="col-md-2 pull-left">Les mer...</a>
                    <a class="pull-left" href="#/nyheter/{{news.id}}">Rediger</a>
                    <a class="pull-right">Slett</a>
                </div>
            </div>
            <div class="clearfix">
                <a class="pull-left">Legg til ny</a>
                <a class="pull-right">Tidligere nyheter</a>
            </div>
        </div>

    </div>

</div>