<div class="repeat-title"></div>
<div class="hospitals-list clearfix" style="padding: 32px">
    <h1 class="blue bold">{{editStaticNewCtrl.title}}</h1>
    <br/>

    <form
            role="form"
            class="one-block"
            name="updateArticleForm"
            ng-submit="editStaticNewCtrl.saveStaticNew()"
            novalidate>

        <div class="form-group">

            <label for="subject" class="side-label-holder dynamic-font-md">Title:</label>

            <input
                    type="text"
                    name="subject"
                    placeholder="Subject"
                    id="subject"
                    class="form-control side-input dynamic-font-md"
                    required
                    ng-model="editStaticNewCtrl.staticNew.subject"/>

            <div style="color:red" ng-show="updateArticleForm.$submitted && updateArticleForm.subject.$invalid">
                <p ng-show="updateArticleForm.subject.$error.required">Feltet skal utfylles</p>
            </div>
        </div>

        <div class="form-group">

            <label for="source" class="side-label-holder dynamic-font-md">Source:</label>

            <input
                    type="text"
                    name="source"
                    placeholder="Source"
                    id="source"
                    class="form-control side-input dynamic-font-md"
                    required
                    ng-model="editStaticNewCtrl.staticNew.source"/>

            <div style="color:red" ng-show="updateArticleForm.$submitted && updateArticleForm.source.$invalid">
                <p ng-show="updateArticleForm.source.$error.required">Feltet skal utfylles</p>
            </div>
        </div>

        <div class="image-container" ng-class="{'slim': !editStaticNewCtrl.image}">
            <div class="clients-photo" style="width: 578px; heigth: 433px;">
                <div ng-show='editStaticNewCtrl.image' style="z-index: 2; position: relative; left: 0; top: 0;">
                    <a ng-click="editStaticNewCtrl.removeImage('image')" class="remove-image">X</a>
                    <img ng-src="{{editStaticNewCtrl.image}}">
                </div>
                <input
                        ng-hide='editStaticNewCtrl.image'
                        id="image"
                        type="file"
                        name="image"
                        ng-model="editStaticNewCtrl.image"
                        accept="image/jpeg,image/png,image/gif"
                        fileread
                        crop-result="editStaticNewCtrl.cropResult"
                        img-width="578"
                        img-height="433"
                        ng-change="editStaticNewCtrl.checkImageType('image')"
                        >
            </div>
            <div class="slider-block">
                <div id="image-slider"></div>
            </div>
        </div>

        <div ng-show='!editStaticNewCtrl.image && editStaticNewCtrl.oldImage && editStaticNewCtrl.oldImage.image_url'>
            <img style="max-height: 445px" ng-src="{{editStaticNewCtrl.oldImage.image_url}}">
        </div>

        <br/>

        <div class="form-group clearfix">

            <div
                    text-angular
                    required
                    ng-model="editStaticNewCtrl.staticNew.content">

            </div>
            <div style="color:red" ng-show="updateArticleForm.$submitted && updateArticleForm.content.$invalid">
                <p ng-show="updateArticleForm.content.$error.required">Feltet skal utfylles</p>
            </div>
        </div>

        <div class="form-group">
            <button class="pull-right btn btn-default btn-lg dynamic-font-md">Save</button>
        </div>
    </form>
    <br/>
</div>