<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css"/>

    <script src="../js/libs/jquery/dist/jquery.min.js"></script>
    <script src="../js/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../js/auth/login.js"></script>
</head>
<body>

    <div class="col-md-12" style="margin-top: 200px">
        <form class="login-form col-md-2 col-md-offset-5">
            <div class="input form-group">
                <div>
                    <!--<label for="email">Email</label>-->
                    <input id="email" class="form-control" placeholder='Email' type='email' required name='email'/>
                </div>
            </div>
            <div class="input form-group">
                <div>
                    <!--<label for="password">Password</label>-->
                    <input id="password" class="form-control" placeholder='Password' type='password' required name='password'/>
                </div>
            </div>
            <div class="submit form-group">
                <button class="btn btn-primary btn-block" onclick="signIn()">Log In</button>
            </div>
        </form>
    </div>
</body>
</html>