<div class="repeat-title"></div>
<div class="hospitals-list clearfix">
    <div ng-show="pending">
        <h3>Loading...</h3>
    </div>

    <table class="table table-striped table-condensed table-bordered table-hover">
        <thead>
        <tr>
            <th class="field1">Senter Name&nbsp;<a ng-click="sort_by('field1')"><i class="icon-sort"></i></a></th>
            <th class="field2">Website activatet&nbsp;<a ng-click="sort_by('field2')"><i class="icon-sort"></i></a></th>
            <th class="field3">Registering online&nbsp;<a ng-click="sort_by('field3')"><i class="icon-sort"></i></a></th>
            <th class="field4">Webside eier&nbsp;<a ng-click="sort_by('field4')"><i class="icon-sort"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in Items">
            <td><a>{{item.name}}</a></td>
        </tr>
        </tbody>
    </table>

    <a ng-click="conflictsCtrl.updateZipCodes()">Update Zip codes</a>

    <table class="table table-striped table-condensed table-bordered table-hover">
        <thead>
        <tr>
            <th class="name">Senter Name&nbsp;<a ng-click="sort('name')"><i class="icon-sort"></i></a></th>
            <th class="zipCode">Conflicted Zip Code&nbsp;<a ng-click="sort('zipCode')"><i class="icon-sort"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="conflict in conflicts | itemsPerPage:5">
            <td><a href="#">{{conflict.name}}</a></td>
            <td>{{conflict.postcode}}</td>
        </tr>
        </tbody>
    </table>
    <dir-pagination-controls
            max-size="5"
            direction-links="true">
    </dir-pagination-controls>

</div>