<div class="repeat-title"></div>
<div class="hospitals-list clearfix" style="padding: 32px">
    <h1 class="blue bold">Kommentarer eller spørsmål?</h1>
    <br/>
    <p class="dynamic-font-md">Bruk kontaktskjemaet nedenfor hvis du har kommentarer eller spørsmål til BarnasNorge.no.
        Vi forsøker å svare på henvendelser i løpet av en arbeidsdag, men lykkes ikke alltid……</p>
    <br/>
    <form
            role="form"
            class="one-block"
            name="sendEmailForm"
            ng-submit="contactCtrl.sendEmail()"
            novalidate>


        <div class="form-group">

            <input
                    type="text"
                    name="name"
                    placeholder="Navn"
                    class="form-control side-input dynamic-font-md"
                    required
                    ng-model="contactCtrl.email.name"/>
            <div style="color:red" ng-show="sendEmailForm.$submitted && sendEmailForm.name.$invalid">
                <p ng-show="sendEmailForm.name.$error.required">Feltet skal utfylles</p>
            </div>
        </div>

        <div class="form-group">

            <input
                    type="email"
                    name="email"
                    placeholder="E-post"
                    class="form-control side-input dynamic-font-md"
                    required
                    ng-model="contactCtrl.email.email"/>
            <div style="color:red" ng-show="sendEmailForm.$submitted && sendEmailForm.email.$invalid">
                <p ng-show="sendEmailForm.email.$error.required">Feltet skal utfylles</p>
                <p ng-show="sendEmailForm.email.$error.email">Ugyldig e-post adresse</p>
            </div>
        </div>

        <div class="form-group">

            <input
                    type="text"
                    name="topic"
                    placeholder="Emne"
                    class="form-control side-input dynamic-font-md"
                    required
                    ng-model="contactCtrl.email.topic"/>
            <div style="color:red" ng-show="sendEmailForm.$submitted && sendEmailForm.topic.$invalid">
                <p ng-show="sendEmailForm.topic.$error.required">Feltet skal utfylles</p>
            </div>
        </div>

        <div class="form-group">

            <textarea
                    name="notification"
                    required
                    placeholder="Melding"
                    class="form-control dynamic-font-md"
                    ng-model="contactCtrl.email.notification">

            </textarea>
            <div style="color:red" ng-show="sendEmailForm.$submitted && sendEmailForm.notification.$invalid">
                <p ng-show="sendEmailForm.notification.$error.required">Feltet skal utfylles</p>
            </div>
        </div>

        <div class="form-group">
            <button class="pull-right btn btn-default btn-lg dynamic-font-md">Send</button>
        </div>
    </form>
    <br/>
    <h1 class="blue bold">Kontakt informasjon</h1>
    <div class="col-md-6">
        <h5 class="bold dynamic-font-md">Postadresse:</h5>
        <h5 class="dynamic-font-md">Postboks 191, NO-0319 Oslo</h5>
    </div>
    <div class="col-md-6">
        <h5 class="bold dynamic-font-md">Besøksadresse:</h5>
        <h5 class="dynamic-font-md">Tuengen alle 6C, NO-0374 Oslo</h5>
    </div>
    <br/>
    <div class="col-md-12 h5">
        <span class="bold dynamic-font-md">Telefon: </span>
        <span class="dynamic-font-md">(+47) 22 14 57 57</span>
        <br/>
        <span class="bold dynamic-font-md">Mobil: </span>
        <span class="dynamic-font-md">(+47) 93812332</span>
    </div>
    <br/>
    <div class="col-md-12">
        <h5 class="bold dynamic-font-md">E-post:</h5>
        <h5 class="dynamic-font-md">Generelle henvendelser (brukere): post@barnasnorge.no</h5>
        <h5 class="dynamic-font-md">Generelle henvendelser (helseforetak): foretak@barnasnorge.no</h5>
    </div>
</div>