<div class="repeat-title"></div>
<div class="hospitals-list clearfix">
    <div ng-show="newsCtrl.news.length">
        <span class="dynamic-font-md">Viser resultater: {{newsCtrl.news.length}} av {{totalItems}}</span>
    </div>

    <div ng-show="pending">
        <h3>Loading...</h3>
    </div>

    <dir-pagination-controls
            on-page-change="newsCtrl.refreshNews()"
            pagination-id="news"
            class="dynamic-font-md"
            ng-show="newsCtrl.news.length">

    </dir-pagination-controls>

    <div
            dir-paginate="article in newsCtrl.news | itemsPerPage: resultater" total-items="totalItems" current-page="newsPage"
            pagination-id="news"
            class="hospital-item grey" style="padding-right: 25px;">

        <div style="display: inline-block">

            <h4 class="col-md-12 blue bold dynamic-font-lg">{{article.subject}}</h4>

            <div class="col-md-4">
                <img style=" max-width: 100%" ng-src="{{article.image.image_url}}"/>
                <h5  class="dynamic-font-md blue"> Klide: {{article.source}} </h5>
            </div>
            <div class="col-md-8 clearfix">
                <h5 style="margin-top: 0;" class="dynamic-font-md"> {{article.content | limitTo: 800}} {{article.content.length > 800 ? '...' : ''}} </h5>
                <a class="pull-right blue dynamic-font-md" href="#/nyheter/{{article.id}}">Les hele artikkelen></a>
            </div>
            <h5 class="col-md-12 dynamic-font-md"> {{article.created_at | date: "d MMM, y"}}</h5>
        </div>
    </div>

    <dir-pagination-controls
            on-page-change="newsCtrl.refreshNews()"
            pagination-id="news"
            class="dynamic-font-md"
            ng-show="newsCtrl.news.length">

    </dir-pagination-controls>
</div>