<div class="repeat-title"></div>
<div class="hospitals-list clearfix">
    <div class="clearfix">
        <div class="col-md-12">
            <h6 class="dynamic-font-sm pull-right">{{articleCtrl.article.created_at | date: "d MMM, y"}}</h6>
        </div>
        <h1 class="col-md-12 bold blue">{{articleCtrl.article.subject}}</h1>
        <br/>
        <div class="col-md-12 dynamic-font-md">
            <img class="col-md-6" ng-src="{{articleCtrl.article.image.image_url}}"/>
            {{articleCtrl.article.content}}
        </div>
        <div class="col-md-12">
            <br/>
            <h5 class="dynamic-font-md bold">Kilder: {{articleCtrl.article.source}}</h5>
        </div>
        <div class="col-md-12">
            <hr/>
            <a class="blue dynamic-font-md-lg bold pull-right" href="#/news">Lukk</a>
        </div>
    </div>
</div>